.margin{width:990px;margin:0 auto;}
header{height: 95px;box-shadow: 1px 1px 5px rgba(98,105,109,0.5);}
header img{float: left;display: block;width:290px;height: 70px;margin-top:20px;}
header span{float: right;height: 44px;font:20px/44px "";margin: 26px 0px 0px 15px;padding: 0px 15px;}
.sign1{width: 980px;margin: 0 auto;margin-top: 50px!important;box-shadow: 1px 1px 5px rgba(98,105,109,0.5);
    border-radius: 5px;border-bottom: 1px solid #d7d7d7;padding: 40px;padding-right: 0;display: block;height:600px;}

.sign-l{width:600px;border-right: 1px dashed #e5e5e5;color: #555;float: left;}
.sign-l em{display: inline-block;width:100px;height:38px;text-align: right;font:14px/38px "";}
.sign-l h1{padding-left: 10px;font-weight: normal;font:18px/38px "";}
.sign-l span{color:#f00;}
.sign-l form{color: #555;}
.sign-l form label{width: 160px;display: inline-block;text-align: left;font:14px/38px "";color: red;}
.sign-l form p{margin-top:30px;}
.sign-l form .txt{width: 239px;height: 38px;line-height: 26px;border: 1px solid #d5d5d5;font-size: 14px;padding: 0 5px;}

.sign-l form .yan input{width: 134px;}
.sign-l form .yan span{display:inline-block;color: #fff;background: #F62648;height:38px;width: 100px;font:12px/40px "";text-align: center;}
.sign-l form .read .checkbox{width:13px;height:13px;}
.read{margin-left:100px;}
.read i{width:100px;font:14px/38px "";color: #000;}
.sub{border-radius: 3px;width: 250px;height: 35px;color: #FFF;font:14px/35px "";
    background: #F62648;text-align: center;letter-spacing: 2px;border: none;margin:20px 105px;}

.sign-r{float: right;font:14px/38px "";    color: #666}
.sign-r a{display: inline-block;text-align: center;line-height: 36px;height: 38px;width: 102px;cursor: pointer;font:16px/36px "";
    background: #d7d7d7;border: 1px solid #d5d5d5;border-radius: 3px;margin-right: 20px;}

